version: 2

updates:

- package-ecosystem: npm
  directory: /
  versioning-strategy: increase-if-necessary
  schedule:
    interval: daily

- package-ecosystem: npm
  directory: /app/travel_processor
  versioning-strategy: increase-if-necessary
  schedule:
    interval: daily

- package-ecosystem: maven
  directory: /
  schedule:
    interval: daily
