# CAP sflight
_out
*.db
connection.properties
default-*.json
gen/
node_modules/
target/

# Web IDE, App Studio
.che/
.gen/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
.npmrc
*.orig
*.log

*.flattened-pom.xml

srv/src/main/resources/edmx/**
dist/


# IDEs
.idea
*.iml
.project
.settings
.classpath
# .vscode/*
# IMPORTANT: Do not exclude .vscode please!
