management:
    endpoints:
        web:
            exposure:
                include: "*"
---
spring:
    profiles: default
    resources:
        static-locations: "file:./app"
cds:
    security.mock.users:
    - name: rose
      password:
    - name: martha
      password:
      roles:
        - reviewer
    - name: amy
      password:
      roles:
        - processor
    - name: admin
      password: admin
      roles:
      - admin

    odata-v4:
        endpoint:
            path: "/"

server:
    port: 4004

---
spring:
    profiles: cloud

cds:
    odata-v4:
        endpoint:
            path: "/"
