# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: 30 4 * * *
jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [17,20]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Java ${{ matrix.java-version }}
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'sapmachine'

    - name: Build with Maven
      run: mvn -B clean verify

    - name: Run integration tests - Manage Travels
      working-directory: ./app/travel_processor
      run: |
        npm ci
        npm run test:java -- --ci

    - name: Run integration tests - Analyze Bookings
      working-directory: ./app/travel_analytics
      run: |
        npm ci
        npm run test:java -- --ci
