# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    types: [ labeled, opened, synchronize, reopened ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [16.x, 14.x, 12.x]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci
    - run: npm run lint
    - run: npm run build --if-present
    - run: npm run test
    - run: npm run test:mocha

    - name: Run integration tests - Manage Travels
      working-directory: ./app/travel_processor
      run: |
        npm ci
        npm run test:node -- --ci

  deployment:
    name: Deploy
    if: ${{ github.event_name == 'push' || contains(github.event.pull_request.labels.*.name, 'deploy') }}  # run only if label is set
    uses: ./.github/workflows/deploy-btp.yml
    with:
      cf-space: staging-${{ github.head_ref || github.ref_name }}
      role-collection: sflight-admin-staging-${{ github.head_ref || github.ref_name }}  # must match to mta.yaml
    secrets:
      username: ${{ secrets.CF_USERNAME }}
      password: ${{ secrets.CF_PASSWORD }}
      grant-users: ${{ secrets.GRANT_USERS }}

  e2etest:
    name: E2E Tests
    runs-on: ubuntu-latest
    needs: deployment
    steps:
    - name: More UI tests
      run: |
        echo ${{ needs.deployment.outputs.ui_app_url }}
